<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- <staticContent>
            <clientCache  cacheControlCustom="public"  cacheControlMode="UseExpires" cacheControlMaxAge="0.00:30:00"
             httpExpires="Tue, 19 Jan 2017 03:14:07 GMT" />
        </staticContent> -->
        <rewrite>
            <rules>
                <rule name="HTTPS force" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>


 